.page-activity{
  .swiper-slide{
    max-height: 90px;
    max-height: 24vw;
  }
  &.mui-table-view {
    background: none;
  }
  .mui-table-view:after, .mui-table-view:before{
    display: none;
  }
  .list-item {
   padding-bottom: 0!important;
    .title-text {
      height: 35px;
      line-height: 35px;
      overflow: hidden;
      padding: 0 12px 0 12px;
      color: map-get($global-color, d);
    }
  }
}

.activity-banner {
  min-height: 38px;
  margin-bottom: 5px;
  .swiper-pagination {
    bottom: 0 !important;
  }
}