//page person
.page-person {
  .header-con {
    width: 100%;
    height: 200px;
    background: url("../image/person-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    .wrapper {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      background-size: cover;
      position: relative;
    }
  }
  .info-con {
    width: 100px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -50px;
    z-index: 9;
    text-align: center;
    .user-photo {
      width: 54px;
      margin-left: 23px;
      margin-bottom: 10px;
      img {
        width: 100%;
        display: block;
      }
    }
    .user-name {
      font-size: 1.4rem;
      color: #fff;
    }
  }

  .list-con {
    .log-out {
      margin-top: 20px;
      text-align: center;
    }

  }
}

.submit-con {
  margin: 25px 10px 0 10px;
}

//login
.page-login {

  //user photo
  .photo-con {
    width: 6rem;
    padding: 3rem 0;
    margin: 0 auto;
    display: block;
    img {
      width: 100%;
    }
  }

  .photo-con img {
    width: 100%;
  }

  .link-area {
    display: block;
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
  }
  .spliter {
    color: #bbb;
    padding: 0 8px;
  }

  .link-cell {
    color: #666;
  }
}

//reg
.page-info{

  .mui-btn-block{
    height: 50px;
    margin-bottom: 0;
    border: 0;
    color:map-get($global-color,h);
    padding-left: 15px;
    text-align: left;
    font-size: 17px;
  }
  .submit-con{
    button{
      text-align: center;
      color: #fff;
    }
  }
}

.mui-input-group input{
  font-weight: 400;
}
