//page person
.page-person {
  .header-con {
    width: 100%;
    height: 200px;
    background: url("../image/person-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    .wrapper {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      background-size: cover;
      position: relative;
    }
  }
  .info-con {
    width: 100px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -50px;
    z-index: 9;
    text-align: center;
    .user-photo {
      width: 54px;
      margin-left: 23px;
      margin-bottom: 10px;
      img {
        width: 100%;
        display: block;
      }
    }
    .user-name {
      font-size: 1.4rem;
      color: #fff;
    }
  }

  .list-con {
    .log-out {
      margin-top: 20px;
      text-align: center;
    }

  }
}

.submit-con {
  margin: 25px 10px 0 10px;
}

//login
.page-login {

  //user photo
  .photo-con {
    width: 6rem;
    padding: 3rem 0;
    margin: 0 auto;
    display: block;
    img {
      width: 100%;
    }
  }

  .photo-con img {
    width: 100%;
  }

  .link-area {
    display: block;
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
  }
  .spliter {
    color: #bbb;
    padding: 0 8px;
  }

  .link-cell {
    color: #666;
  }
}

//info
.page-info {
  width: 100%;
  .mui-input-row {
    position: relative;
    width: 100%;
    .input-title {
      width: 80px;
      position: absolute;
      left: 12px;
      top: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 50px;
      color: map-get($global-color, b);
    }
    input {
      width: 100%;
      height: 100%;
      padding-left: 80px;
      text-align: left;
      color: map-get($global-color, g);
    }
  }
}

.mui-input-group input {
  font-weight: 400;
}

.mui-content > .mui-table-view:first-child {
  margin-top: 0;
}

//page like list
.like-list {
  width: 100%;
  height: 100%;
  background-color: map-get($global-color, e);

  .thumb-img {
    max-width: 60px;
  }
}

.empty-con {
  width: 100%;
  position: relative;
  div {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    color: map-get($global-color, h);
  }
}

@media (min-width: 415px) {
  .main-pc {
    &.main-person {
      max-width: 1000px;
      margin: 60px auto 0;
    }
  }

  .page-person {
    width: 200px;
    height: 100%;
    position: relative;
    background-color: map-get($global-color, b);
    .mui-navigate-right:after {
      display: none;
    }
    .mui-table-view-cell {
      background-color: map-get($global-color, g);
      color: #fff;
      height: 40px;
      padding-top: 12px;
      &:hover{
        background-color: map-get($global-color,a);
      }
    }
    .is-active{
      background-color:map-get($global-color,a) ;
    }
  }

  .tab-con {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    background: #fff;
    .like-list {
      background-color: #fff;
      .like-con{
        margin-top: 1px;
      }
    }
    .is-active{
      display: block;
    }
  }

  .main-pc {
    .page-login {
      max-width: 500px;
      margin: 0 auto;
    }
    .page-reg {
      max-width: 500px;
      margin: 0 auto;
    }
    .page-info {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}