---
title: "小狐送福"
---
<div id="pullrefresh" class="mui-content mui-scroll-wrapper refresh-list">
  <div class="mui-scroll">
    <!--数据列表-->
    <div class="list-item mui-table-view-cell no-padding"
         data-href="http://maysongshow.cn">
      <div class="wrapper no-padding">
        <div class="cover-large img-con">
          <img src="../image/activity.png" alt="cover">
        </div>
        <div class="item-info">
          <h2 class="title-text">333333</h2>
        </div>

        <div class="clear"></div>
      </div>
    </div>
    <div class="list-item mui-table-view-cell no-padding"
         data-href="http://maysongshow.cn">
      <div class="wrapper no-padding">
        <div class="cover-large img-con">
          <img src="../image/activity.png" alt="cover">
        </div>
        <div class="item-info">
          <h2 class="title-text">333333</h2>
        </div>

        <div class="clear"></div>
      </div>
    </div>
    <div class="list-item mui-table-view-cell no-padding"
         data-href="http://maysongshow.cn">
      <div class="wrapper no-padding">
        <div class="cover-large img-con">
          <img src="../image/activity.png" alt="cover">
        </div>
        <div class="item-info">
          <h2 class="title-text">333333</h2>
        </div>

        <div class="clear"></div>
      </div>
    </div>

  </div>
</div>
{{>nav}}