<div id="" class="mui-content refresh-list">
  <!--数据列表-->

  <div class="list-item mui-table-view-cell no-padding"
       data-href="{{url}}">
    <div class="wrapper no-padding">
      <div class="cover-large img-con">
      </div>
      <div class="item-info">
        <h2 class="title-text">{{title}}</h2>
      </div>

      <div class="clear"></div>
    </div>
  </div>

</div>
{{>nav}}