---
title: "我的"
---
<div class="mui-content page-person">
  <!--背景模糊-->
  <header class="header-con">
    <div class="wrapper">
      <!--个人信息-->
      <div class="info-con">
        <div class="user-photo">
          <img src="../image/icon-user.png"/>
        </div>
        <div class="user-name">
          <span id="nickname" class="nickname">用户</span>
        </div>
      </div>
    </div>
  </header>

  <!--list start-->
  <div class="list-con">
    <ul class="mui-table-view ">
      <li class="mui-table-view-cell" id="change_pw">
        <a class="mui-navigate-right" href="javascript:;">
          我的资料
        </a>
      </li>
      <li class="mui-table-view-cell" id="change_pw">
        <a class="mui-navigate-right" href="javascript:;">
          修改密码
        </a>
      </li>
      <li class="mui-table-view-cell" id="favourite">
        <a class="mui-navigate-right" href="javascript:;">
          我的收藏
        </a>
      </li>
    </ul>

    <ul class="mui-table-view log-out">
      <li class="mui-table-view-cell" id="logout">
        <a href="javascript:;">
          退出账号
        </a>
      </li>
    </ul>

  </div>
  <!--list end-->
</div>
{{>nav}}