<div class="list-con mui-table-view">

  <div class="list-item mui-table-view-cell no-padding">
    <div class="list-badge no-collect" id="collect_btn">关注</div>
    <div class="wrapper list-tap" data-href="http://maysongshow.cn/1111">
      <div class="cover-large img-con">
        <img src="../image/cover.png" alt="cover">
      </div>
      <div class="item-info">
        <h2 class="title-text">ddddd</h2>
        <h3 class="location-text">成化</h3>
        <div class="price-con">
          <a class="phone-num img-con"
             href="tel:1234566">
            <img src="../image/icon/icon-phone.png" alt="icon-phone">
          </a>
          约<span>3555</span>元/㎡
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

</div>