<!--footer nav bar-->
<nav class="mui-bar mui-bar-tab footer-navbar ui-border-t">
  <a class="nav-item" href="./index.html">
    <span class="mui-icon back-img img-index"></span>
    <span class="mui-tab-label">明星楼盘</span>
  </a>
  <a class="nav-item" href="./list.html">
    <span class="mui-icon back-img img-activities"></span>
    <span class="mui-tab-label">小狐送福</span>
  </a>
  <a class="nav-item" href="./select.html">
    <span class="mui-icon back-img img-select"></span>
    <span class="mui-tab-label">帮你配对</span>
  </a>
  <a class="nav-item" href="./person.html">
    <span class="mui-icon back-img img-person"></span>
    <span class="mui-tab-label">我的</span>
  </a>
</nav>
